<nav>
    <div class="nav-wrapper nav-dark bg-dark p-3">
        <a class="text-white mr-4" routerLink="">
            < </a>
                <a class="text-white brand-logo center">Analysis Ingredient</a>
    </div>
</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <table class="fl-table">
                <thead>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        Food
                    </th>
                    <th>
                        Calories
                    </th>
                    <th>
                        weight
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let ingredient of (fullRecipeAnalysis$ | async)?.ingredients ">
                        <td>
                            {{ingredient.parsed[0].quantity}}
                        </td>
                        <td>
                            {{ingredient.parsed[0].measure}}
                        </td>
                        <td>
                            {{ingredient.parsed[0].food}}
                        </td>
                        <td>
                            {{math.floor(ingredient.parsed[0].nutrients.ENERC_KCAL.quantity)}}
                        </td>

                        <td>
                            {{math.floor(ingredient.parsed[0].retainedWeight)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 offset-2">
            <div class="receipt-container">
                <div class="title">
                    <h1>
                        Nutrition Facts
                    </h1>
                </div>
                <div class="header">
                    <h6 class="mt-2">
                        <b> Amount Per Serving</b>
                    </h6>
                    <div class="cal d-flex justify-content-between align-items-center">
                        <h3>
                            Calories
                        </h3>
                        <span>
                            {{math.floor((fullRecipeAnalysis$ | async)?.totalNutrients.ENERC_KCAL.quantity)}}
                        </span>
                    </div>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <span>
                                <b> Total {{ (fullRecipeAnalysis$ |async)?.totalDaily.FAT.label}}</b> 18.3 g
                            </span>
                            <span>
                                {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.FAT.quantity)}}
                                {{(fullRecipeAnalysis$ | async)?.totalDaily.FAT.unit}}
                            </span>
                        </li>

                        <ul class="inner-ul">
                            <li>
                                <span>
                                    {{(fullRecipeAnalysis$ | async)?.totalDaily.FASAT.label}} Fat 2g
                                </span>
                                <span>
                                    {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.FASAT.quantity)}}
                                    {{(fullRecipeAnalysis$ | async)?.totalDaily.FASAT.unit}}
                                </span>
                            </li>
                        </ul>

                        <li>
                            <span>
                                <b> {{ (fullRecipeAnalysis$ |async)?.totalDaily.CHOLE.label}}</b> 0 mg
                            </span>
                            <span>
                                {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.CHOLE.quantity)}}
                                {{(fullRecipeAnalysis$ | async)?.totalDaily.CHOLE.unit}}
                            </span>
                        </li>
                        <li>
                            <span>
                                <b>{{ (fullRecipeAnalysis$ |async)?.totalDaily.NA.label}}</b> 70 mg
                            </span>
                            <span>
                                {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.NA.quantity)}}
                                {{(fullRecipeAnalysis$ | async)?.totalDaily.NA.unit}}
                            </span>
                        </li>
                        <li>
                            <span>
                                <b>{{ (fullRecipeAnalysis$ |async)?.totalDaily.NA.label}}</b> 70 mg
                            </span>
                            <span>
                                {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.NA.quantity)}}
                                {{(fullRecipeAnalysis$ | async)?.totalDaily.NA.unit}}
                            </span>
                        </li>
                        <li>
                            <span>
                                <b>{{ (fullRecipeAnalysis$ |async)?.totalDaily.PROCNT.label}}</b> 70.9 mg
                            </span>
                            <span>
                                {{math.floor((fullRecipeAnalysis$ | async)?.totalDaily.PROCNT.quantity)}}
                                {{(fullRecipeAnalysis$ | async)?.totalDaily.PROCNT.unit}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row" *ngIf="fullRecipeAnalysis$">
        <pre> {{ fullRecipeAnalysis$ |async|json}}</pre>
    </div> -->
</div>

<ngx-spinner></ngx-spinner>